#include "sm7150-xiaomi-audio.dtsi"
#include "sm7150-xiaomi-fingerprint-goodix.dtsi"
#include "sm7150-xiaomi-memory.dtsi"
#include "sm7150-xiaomi-pm6150.dtsi"
#include "sm7150-xiaomi-pm6150l.dtsi"
#include "sm7150-xiaomi-pm8009.dtsi"
#include "sm7150-xiaomi-tfa98xx.dtsi"
#include "sm7150-xiaomi-thermal.dtsi"
